<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
                .error {
                    color: red;
                }
                .success{
                    color: green;
                }
            </style>
        </head>
        <body>
            <div>
                <a href='/blog'>Main Blog Page</a>
                <a href='/newpost'>Add a New Blog Post</a>
                <a href='/login'>Login</a>
                <a href='/logout'>Logout</a>
            </div>
            
            {% with messages = get_flashed_messages(with_categories=True) %}
                <ul>
                {% for category,message in messages %}
                    <li class="{{category}}">{{message}}</li>
                {% endfor %}
                </ul>

            {% endwith %}
    </head>
    <body>
        {% block content %}

        {% endblock %}
    </body>
    <footer>

    </footer>

</html>