{% extends "base.html" %}

{% block content %}
    <h1>Build-A-Blog</h1>
    <form method='POST'>
        <table>
            <tr>
                <td><label for="title">Blog Post Title</label></td>
                <td>
                    <input type="text" name="title"/>
                </td>
            </tr>
            <tr>
                <td><label for="content">Blog Content</label></td>
                <td>
                    <textarea name="content"></textarea>
                </td>
            </tr>
        </table>
        <input type="submit" value="Add blog post"/>
    </form>

    <hr />
    
    {% if titles|length == 0 and contents|length == 0  %}
    <p>No blog posts yet</p>
    {% else %}

        {% for title in titles %}
        <h3>{{title.title}}</h3>
        <p>{{title.content}}</p>
        {% endfor %}


        </ul>
    {% endif %}
{% endblock %}