{% extends "base.html" %}

{% block content %}

<h1>Login</h1>
<p>Don't have an account? <a href='/signup'>Create one!</a></p>
<form method='POST' style="display:inline-block">
    <table>
        <tr>
            <td><label for="username">Username:</label></td>
            <td>
                <input id='username' type="text" name="username" value="{{username}}"/>
                <p class="error">{{username_error}}</p>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password:</label></td>
            <td>
                <input id="password" type="password" name="password" value="{{password}}"/>
                <p class="error">{{password_error}}</p>
            </td>
        </tr>
        <tr>
            <td><label for="verify_password">Verify Password:</label></td>
            <td>
                <input id="verify_password" type="password" name="verify_password" value="{{verify_password}}"/>
                <p class="error">{{verify_password_error}}</p>
            </td>
        </tr>
    </table>
    <input type="submit" value="Login"/>
</form>


<hr />

{% endblock %}